.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sec-text);
  padding: 10px;
  border: 2px solid var(--divider-color);
  box-shadow: var(--shadow-md);
  border-radius: 16px;
  width: 60%;
  height: 400px;
  margin: 0 auto;
}
.innerCont {
  width: 200px;
  aspect-ratio: 1/1;
}
