.socialMediaSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.copyright {
  color: var(--dark-muted);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.followLabel {
  color: var(--dark-muted);
  font-size: 0.875rem;
}

.iconsContainer {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.socialLink {
  color: var(--dark-text);
  font-size: 1.25rem;
  transition: color 0.2s ease;
}
.socialLink:hover {
  color: var(--primary-color);
}
