.domain_page {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--bg-surface);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-md);
  border: 1px solid var(--divider-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.domain_page_outlet {
  flex: 1;
  width: 100%;
}

.heading {
  color: var(--primary-green);
  margin-bottom: 1.5rem;
  font-weight: 600;
  flex-shrink: 0;
}

.absolute_burgerBttn_wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}
