.cont {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: var(--m-padding);
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-surface);
  border: 1px solid var(--divider-color);
  border-radius: var(--m-border-radius);
  box-shadow: var(--shadow-sm);
}

.frstRow {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.secRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--m-padding);
}
